<h1>投稿一覧</h1>
<%= form_with model: @post, local: true do |f| %>
<p><%= f.text_field :body, required: true %> <%= f.submit "送信" %></p>
<% end %>
<%= render partial: "micropost", collection: @posts %>
<%= paginate @posts %>